[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "zsh/.zsh-extra/headline"]
	path = zsh/.zsh-extra/headline
	url = https://github.com/Moarram/headline
